{
  "openapi": "3.0.3",
  "info": {
    "title": "1C HTTP API: товары",
    "version": "1.1",
    "description": "Выгрузка товаров из 1С для сервиса рассылок groster.me (опт, HoReCa/расходники). Авторизация: Authorization: Bearer <token>. Даты ISO 8601 с зоной, цена за базовую единицу числом (71.60). Для писем нужны name, price, unit, image_url, product_url, category_id, in_stock; остальные поля полезны, но не обязательны."
  },
  "servers": [
    { "url": "https://1c.groster.me/base/hs/leadhit/v1" }
  ],
  "security": [ { "bearerAuth": [] } ],
  "paths": {
    "/catalog": {
      "get": {
        "summary": "Выгрузка каталога",
        "description": "Постранично. changed_since ограничивает выборку позициями, изменёнными после указанной даты.",
        "parameters": [
          { "name": "changed_since", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" }, "example": "2026-07-22T00:00:00+03:00" },
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 } },
          { "name": "page_size", "in": "query", "required": false, "schema": { "type": "integer", "default": 1000 } }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CatalogPage" },
              "example": {
                "items": [
                  {
                    "product_id": "0057412",
                    "name": "Салфетка бумажная 1-слойная 24*24 \"Лилия\" белая, 250 лист",
                    "category_id": "salfetki-bumajnye",
                    "category_name": "Бумажные салфетки",
                    "price": 71.60,
                    "unit": "пач",
                    "currency": "RUB",
                    "min_order_qty": 1,
                    "packaging": [ { "level": "упак", "qty": 21 } ],
                    "in_stock": true,
                    "stock_level": "много",
                    "attributes": [],
                    "tags": ["хит"],
                    "image_url": "https://groster.me/upload/iblock/0057412.jpg",
                    "product_url": "https://groster.me/catalog/salfetki-bumajnye/0057412/",
                    "updated_at": "2026-07-23T09:00:00+03:00"
                  },
                  {
                    "product_id": "0038921",
                    "name": "Касалетка 900 мл 222*160*38 алюминиевая без крышки",
                    "category_id": "kasaletki",
                    "category_name": "Касалетки",
                    "price": 11.80,
                    "unit": "шт",
                    "currency": "RUB",
                    "min_order_qty": 100,
                    "packaging": [ { "level": "упак", "qty": 100 }, { "level": "кор", "qty": 600 } ],
                    "in_stock": true,
                    "stock_level": "много",
                    "attributes": [],
                    "tags": [],
                    "image_url": "https://groster.me/upload/iblock/0038921.jpg",
                    "product_url": "https://groster.me/catalog/kasaletki/0038921/",
                    "updated_at": "2026-07-23T09:00:00+03:00"
                  },
                  {
                    "product_id": "0061044",
                    "name": "Салфетка влажная 120 шт. Lili с клапаном",
                    "category_id": "vlajnye-salfetki",
                    "category_name": "Влажные салфетки",
                    "price": 89.00,
                    "unit": "пач",
                    "currency": "RUB",
                    "min_order_qty": 1,
                    "packaging": [ { "level": "кор", "qty": 16 } ],
                    "in_stock": true,
                    "stock_level": "мало",
                    "attributes": [ { "name": "Запах", "value": "Экстракт ромашки" } ],
                    "tags": ["новинка"],
                    "image_url": "https://groster.me/upload/iblock/0061044.jpg",
                    "product_url": "https://groster.me/catalog/vlajnye-salfetki/0061044/",
                    "updated_at": "2026-07-23T09:00:00+03:00"
                  }
                ],
                "page": 1,
                "page_size": 1000,
                "total": 5230
              } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/products": {
      "post": {
        "summary": "Товары по списку id",
        "requestBody": { "required": true, "content": { "application/json": {
          "schema": { "$ref": "#/components/schemas/IdsRequest" }, "example": { "ids": ["0057412", "0038921"] } } } },
        "responses": {
          "200": {
            "description": "ok",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProductsResponse" },
              "example": { "items": [
                {
                  "product_id": "0057412",
                  "name": "Салфетка бумажная 1-слойная 24*24 \"Лилия\" белая, 250 лист",
                  "category_id": "salfetki-bumajnye",
                  "category_name": "Бумажные салфетки",
                  "price": 71.60,
                  "unit": "пач",
                  "currency": "RUB",
                  "min_order_qty": 1,
                  "packaging": [ { "level": "упак", "qty": 21 } ],
                  "in_stock": true,
                  "stock_level": "много",
                  "attributes": [],
                  "tags": ["хит"],
                  "image_url": "https://groster.me/upload/iblock/0057412.jpg",
                  "product_url": "https://groster.me/catalog/salfetki-bumajnye/0057412/",
                  "updated_at": "2026-07-23T09:00:00+03:00"
                }
              ], "missing": ["0038921"] } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "responses": {
      "Unauthorized": { "description": "нет или неверный токен", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "error": { "code": "unauthorized", "message": "Требуется авторизация" } } } } }
    },
    "schemas": {
      "PackagingTier": {
        "type": "object",
        "required": ["level", "qty"],
        "properties": {
          "level": { "type": "string", "enum": ["упак", "кор", "меш"], "description": "уровень фасовки" },
          "qty": { "type": "integer", "description": "сколько базовых единиц (unit) в этом уровне" }
        }
      },
      "Attribute": {
        "type": "object",
        "required": ["name", "value"],
        "properties": {
          "name": { "type": "string", "description": "напр. Вкус, Цвет, Размер, Запах" },
          "value": { "type": "string" }
        }
      },
      "Product": {
        "type": "object",
        "required": ["product_id", "name", "category_id", "price", "unit", "product_url", "in_stock"],
        "properties": {
          "product_id": { "type": "string", "description": "код/артикул в 1С" },
          "name": { "type": "string" },
          "category_id": { "type": "string", "description": "слаг категории, напр. salfetki-bumajnye" },
          "category_name": { "type": "string" },
          "price": { "type": "number", "description": "цена за базовую единицу (unit)" },
          "unit": { "type": "string", "description": "базовая единица: шт, упак, пач и т.п." },
          "currency": { "type": "string" },
          "min_order_qty": { "type": "integer", "description": "минимум к заказу в базовых единицах" },
          "packaging": { "type": "array", "items": { "$ref": "#/components/schemas/PackagingTier" }, "description": "фасовка по уровням; пусто, если не применимо" },
          "in_stock": { "type": "boolean" },
          "stock_level": { "type": "string", "enum": ["много", "достаточно", "мало", "нет"] },
          "attributes": { "type": "array", "items": { "$ref": "#/components/schemas/Attribute" }, "description": "варианты (Вкус/Цвет/Размер/Запах); пусто, если товар без вариантов" },
          "tags": { "type": "array", "items": { "type": "string" }, "description": "напр. хит, новинка" },
          "image_url": { "type": "string", "nullable": true },
          "product_url": { "type": "string" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CatalogPage": {
        "type": "object",
        "required": ["items", "page", "page_size", "total"],
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/Product" } },
          "page": { "type": "integer" },
          "page_size": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "IdsRequest": {
        "type": "object", "required": ["ids"],
        "properties": { "ids": { "type": "array", "items": { "type": "string" } } }
      },
      "ProductsResponse": {
        "type": "object", "required": ["items"],
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/Product" } },
          "missing": { "type": "array", "items": { "type": "string" } }
        }
      },
      "Error": {
        "type": "object", "required": ["error"],
        "properties": { "error": { "type": "object", "required": ["code", "message"], "properties": {
          "code": { "type": "string" }, "message": { "type": "string" } } } }
      }
    }
  }
}
